### Import libraries, create dataframe and data cleaning

In [ ]:
#import libraries
import mysql.connector as msql
#from mysql.connector import Error
import pandas as pd

In [ ]:
#create dataframe

users_df = pd.read_csv("./user.csv")
users_df.head(2)

In [ ]:
#check for missing values in users dataframe

users_df.isnull().sum()

In [ ]:
#create dataframe

message_df = pd.read_csv("./message.csv")
group_df = pd.read_csv("./group.csv")
user_group_df = pd.read_csv("./user_has_group.csv")

In [ ]:
#check for missing values in the messages dataframe

message_df.isnull().sum()

In [ ]:
#show the dataframe head

message_df.head(3)

In [ ]:
#replace missing values in the date column with 'Not Available'

message_df["date"].fillna("Not Available", inplace=True)

In [ ]:
#check for missing values in the group dataframe

group_df.isnull().sum()

In [ ]:
#show the dataframe head
group_df.head()

In [ ]:
#replace missing values in the date column with 'Not Available'

group_df.fillna("Not Available",inplace=True)

### Connecting to the server, creating database

In [ ]:
# connect to mysql server
conn = msql.connect(host="<hostname>",user ="<username>",password="<password>")

# create database
cursor = conn.cursor()
cursor.execute("CREATE DATABASE newDB")
print("Database was created")

### Creating tables

In [ ]:
# connect to the database
conn = msql.connect(host='<hostname>', database='newDB', user='<username>', password='<password>')


cursor = conn.cursor()
cursor.execute("select database();")
record = cursor.fetchone()
print("You're connected to database: ", record)

#drop table if exist
cursor.execute('DROP TABLE IF EXISTS users;')
print('Creating tables....')

# create table
cursor.execute("CREATE TABLE users(userID int(20),userName varchar(255))")
print("Table was created....")

In [ ]:
#drop table if exist
cursor.execute('DROP TABLE IF EXISTS messages;')
print('Creating table....')

# create table
cursor.execute(
    "CREATE TABLE messages(messageID int(20),text varchar(15000),date varchar(255),group_GroupID int(20),sender_userID int(20))")
print("Table was created....")

In [ ]:
#drop table if exist
cursor.execute('DROP TABLE IF EXISTS classGroups;')
print('Creating table....')

# create table
cursor.execute("CREATE TABLE classGroups(groupID int(20),avatar varchar(255) null,name varchar(255),admin_userID int(20))")
print("Table was created....")

In [ ]:
#drop table if exist
cursor.execute('DROP TABLE IF EXISTS userGroups;')
print('Creating tables....')

# create table
cursor.execute("CREATE TABLE userGroups(user_UserID int(20),group_GroupID int(20))")
print("Table was created....")

### Insert data into the tables

In [ ]:
# loop through the data frame

for i,row in users_df.iterrows(): 
    sql = "INSERT INTO newDB.users VALUES (%s,%s)"   # %S means string values
    cursor.execute(sql, tuple(row))
    
    conn.commit() # commit to save changes

In [ ]:
# loop through the data frame

for i,row in message_df.iterrows(): 
    sql = "INSERT INTO newDB.messages VALUES (%s,%s,%s,%s,%s)" 
    cursor.execute(sql, tuple(row))
   
    conn.commit()

In [ ]:
# loop through the data frame

for i,row in group_df.iterrows(): 
    sql = "INSERT INTO newDB.classGroups VALUES (%s,%s,%s,%s)"   
    cursor.execute(sql, tuple(row))
    
    conn.commit()

In [ ]:
# loop through the data frame
j = 0   #initialize counter

for i,row in user_group_df.iterrows():  
    sql = "INSERT INTO newDB.userGroups VALUES (%s,%s)" 
    cursor.execute(sql, tuple(row))
    j+=1
    
    conn.commit()
    
print(j,"Record inserted in userGroups Table")    #output the number of records inserted